.container {
  max-width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  background: rgb(10, 10, 10);
  padding: 8px;
}

.button-container {
  height: 65px;
  display: flex;
  align-items: flex-end;
}

.search-container {
  margin-bottom: 20px;
}

.search-container h1 {
  margin-bottom: 30px;
}

.search-title {
  color: whitesmoke;
}

.noresult {
  width: 100%;
  background-image: linear-gradient(89.81deg, #ca4f08 41.01%, #df7a37 99.64%);
  color: whitesmoke;
  border: none;
  padding: 15px 30px;
  border-radius: 7px;
  text-align: center;
}
